<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>404 posts </title>
    </head>
    <body>

        <div>
            <h3>Posts</h3>
            <ul>
                {% for post in posts %}
                 <li>{{ post.title }}</li>
                 <p>{{ post.content }}</p>
                {% endfor %}
            </ul>
        </div>


    </body>
</html>
